﻿body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.header-title {
    font-size: 150%;
    font-weight: 500;
    color: #46236a;
    text-transform: uppercase;
}

.alert-auto {
    display: inline-block;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}

    table.table-fit thead th, table.table-fit tfoot th {
        width: auto !important;
    }

    table.table-fit tbody td, table.table-fit tfoot td {
        width: auto !important;
    }

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#map {
    height: 400px;
}